div {
    background-color: #3333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.boton{
    background-color: green;
    padding: 1.5rem 4.5rem;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
}
.boton::before{
    content: "Pasa por encima";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white;
}

.boton::after{
    content: "¡Hecho!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white;
    opacity: 0;
}
.boton:hover::before{
    opacity: 0;
}

.boton:hover::after{
    opacity: 1;
}