body {
    display: flex;
    justify-content: center;
}
.contenedor {
    margin-top: 150px;
    width: 50vh;
    height: 50vh;
    background-color: #48D1CC;
    cursor: pointer;
}

.btn-modern {
    margin-top: 50%;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    background-color: #B0C4DE ;
    transition: transform 0.4s ;
    cursor: pointer;
}

.contenedor:hover .btn-modern {
    background-color:#0000FF ;
    color: white;
    box-shadow: 0px 12px 15px 10px rgba(0, 0, 0, 7);
    transform: translateX(50%) translateY(-5px);
    
}

